[tool.black]
line-length = 120
# required-version = '22.1.0' # see https://github.com/psf/black/issues/2493
target-version = ['py310']


[tool.isort]
line_length = 120
profile = "black"
multi_line_output = 3


[tool.ruff]
line-length = 120
target-version = 'py310'


[tool.mypy]
ignore_missing_imports = true
check_untyped_defs = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
show_error_codes = true
exclude = ['dist', 'build']


[[tool.mypy.overrides]]
module = "tests.examples.*"
ignore_errors = true
disallow_untyped_calls = false
disallow_untyped_defs = false
disallow_incomplete_defs = false


[[tool.mypy.overrides]]
module = "tests.*"
disallow_untyped_defs = false
disallow_incomplete_defs = false
